{% if pic.status is not none %}
    <div class="rating-overlay {% if pic.status == 'yes' %}green
    {% elif pic.status == 'yes_edited' %}green
    {% elif pic.status == 'yes_unedited' %}turquoise
    {% elif pic.status == 'unsafe' %}yellow
    {% elif pic.status == 'no' %}red
    {% endif %}">
        {% if pic.status == 'yes' %}{% trans %}Edit{% endtrans %}
        {% elif pic.status == 'yes_edited' %}{% trans %}Edit{% endtrans %}
        {% elif pic.status == 'yes_unedited' %}{% trans %}Unedited{% endtrans %}
        {% elif pic.status == 'unsafe' %}{% trans %}Insecure{% endtrans %}
        {% elif pic.status == 'no' %}{% trans %}Veto{% endtrans %}
        {% endif %}
    </div>
{% endif %}
