{% extends "base.html" %}
{% block title %}{{ shoot.description }}{% endblock %}
{% block topleft %}
<a href="/admin/">
    <svg class="genericons-neue genericons-neue-previous" width="32px" height="32px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#previous"></use></svg>
</a>
<span class="title">{{ shoot.description }}</span>
{% endblock %}
{% block topright %}
{% include "include/counter.html" %}
<a id="filter-yes" class="btn green"><svg class="genericons-neue genericons-neue-show" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#show"></use></svg></a>
<a id="filter-unsafe" class="btn yellow"><svg class="genericons-neue genericons-neue-show" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#show"></use></svg></a>
<a id="filter-no" class="btn red"><svg class="genericons-neue genericons-neue-show" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#show"></use></svg></a>
<a id="filter-all" class="btn grey">{% trans %}All{% endtrans %}</a>
<a href="/logout/" class="btn yellow">{% trans %}Logout{% endtrans %}</a>
{% endblock %}
{% block content %}
<div class="top-margin">
    <div class="third-width">
        <div>
            <span class="title">{% trans %}Link to public page{% endtrans %}</span> <span id="copy-confirm">{% trans %}Copied!{% endtrans %}</span>
        </div>
        <input type="text" id="public_link" readonly value="{{ config.SITE_URL }}/{{ shoot.link }}/">
    </div>
    <input id="shoot_link_help" type="hidden" value="{{ shoot.link }}"><!-- required for fileupload in here -->
    <div class="third-width">
        <div class="small-bot-margin">
            {% trans %}Upload more images{% endtrans %} <input id="fileupload-overview" type="file" name="files[]" data-url="/admin/upload/" multiple>
        </div>
        <div class="small-bot-margin">
        <label for="watermark-checkbox">{% trans %}Apply watermark{% endtrans %}</label> <input id="watermark-checkbox" type="checkbox" name="watermark" value="on" checked>
        </div>
        <div id="progress"><div class="bar" style="width: 0%;"></div></div>
    </div>
    <div class="third-width">
        <a href="#keep-modal" rel="modal:open" class="btn green" style="margin-bottom: .2em;">{% trans %}Keep/Insecure filenames{% endtrans %}</a>
        <a href="#edit-shoot-modal" rel="modal:open" class="btn yellow">{% trans %}Edit shoot{% endtrans %}</a>
    </div>
</div>
<hr>

<div class="pic-grid">
{% for pic in pics %}
    <div class="pic-grid-item pic">
       <a href="/admin/{{ shoot.link }}/{{ pic.filename }}/">
            <img src="/img/{{ pic.filename }}" class="
            {% if pic.status %}
                border
                {% if pic.status == 'yes' %}green
                {% elif pic.status == 'yes_edited' %}green
                {% elif pic.status == 'yes_unedited' %}turquoise
                {% elif pic.status == 'unsafe' %}yellow
                {% elif pic.status == 'no' %}red
                {% endif %}
            {% endif %}">
           {% include "include/star-overlay.html" %}
       </a>
    </div>
{% else %}
    {% trans %}No images{% endtrans %}
{% endfor %}
</div>

<div id="edit-shoot-modal" class="modal">
    <div class="title">{% trans %}Edit shoot{% endtrans %}</div>
    <form method="post">
         <table>
         <tr>
            <td>{% trans %}Description{% endtrans %}</td><td><input required type="text" name="description" value="{{ shoot.description }}"></td>
         </tr>
         <tr>
            <td>{% trans %}Maximum amount of images (0=No limit){% endtrans %}</td><td><input required type="number" name="limit" value="{{ shoot.max_images }}"></td>
         </tr>
         <tr>
            <td>{% trans %}Also keep unedited images?{% endtrans %}</td>
            <td>
                <input id="unedited_checkbox" type="checkbox" name="unedited" value="on" {% if shoot.unedited_images %}checked{% endif %}><br>
                {%if shoot.unedited_images %}<small>{% trans %}Unticking this means that all "Unedited" data will be lost!{% endtrans %}</small>{% endif %}
            </td>
         </tr>
         <tr id="max_unedited_count" {% if not shoot.unedited_images %}class="hidden"{% endif %}>
            <td>{% trans %}Maximum amount of unedited images (0=No limit){% endtrans %}</td><td><input type="number" name="limit_unedited" value="{% if shoot.unedited_images %}{{ shoot.max_unedited }}{% else %}0{% endif %}"></td>
         </tr>
         </table>
         <input type="submit">
    </form>
</div>

<div id="keep-modal" class="modal">
    {% if shoot.unedited_images %}
    <div class="title">{% trans %}List of edited images to keep{% endtrans %}</div>
    <ul>
        {% for pic in pics %}
            {% if pic.status == 'yes_edited' %}
                <li>{{ pic.filename }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="title">{% trans %}List of unedited images to keep{% endtrans %}</div>
    <ul>
        {% for pic in pics %}
            {% if pic.status == 'yes_unedited' %}
                <li>{{ pic.filename }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <div class="title">{% trans %}List of images to keep{% endtrans %}</div>
    <ul>
        {% for pic in pics %}
            {% if pic.status == 'yes' %}
                <li>{{ pic.filename }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <div class="title">{% trans %}List of insecure images{% endtrans %}</div>
    <ul>
        {% for pic in pics %}
            {% if pic.status == 'unsafe' %}
                <li>
                    {{ pic.filename }}<br>
                    <textarea id="unsafe-comment" readonly>{{ pic.comment }}</textarea>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
