{% extends "base.html" %}
{% block title %}{{ shoot.description }}{% endblock %}
{% block topleft %}
<a href="/admin/{{ shoot.link }}/">
    <svg class="genericons-neue genericons-neue-previous" width="32px" height="32px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#previous"></use></svg>
</a>
<span class="title hide-small">{{ shoot.description }}</span>
{% endblock %}
{% block topright %}
<div class="margin-right-s inline-block">{% include "include/counter.html" %}</div>
<a href="/logout/" class="btn yellow hide-small">{% trans %}Logout{% endtrans %}</a>
{% endblock %}
{% block content %}
<div class="focused relative fit-width">
<img class="{% if pic.status %}
    border
    {% if pic.status == 'yes' %}green
    {% elif pic.status == 'yes_edited' %}green
    {% elif pic.status == 'yes_unedited' %}turquoise
    {% elif pic.status == 'unsafe' %}yellow
    {% elif pic.status == 'no' %}red
    {% endif %}
{% endif %}" src="/img/{{ pic.filename }}">
{% include "include/star-overlay.html" %}
{% include "include/rating-overlay.html" %}
</div>

<div style="position: relative">
    <div class="rating-btns">
        {% if pic.star_rating is not none %}
            <a id="star-none-btn" class="btn grey">{% trans %}Remove star{% endtrans %}</a>
        {% endif %}
        <a id="star-zero-btn" class="btn grey {% if pic.star_rating == 0 %}active{% endif %}"><svg class="genericons-neue genericons-neue-show" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#star-empty"></use></svg></a>
        <a id="star-half-btn" class="btn grey {% if pic.star_rating == 1 %}active{% endif %}"><svg class="genericons-neue genericons-neue-show" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#star-half"></use></svg></a>
        <a id="star-full-btn" class="btn grey {% if pic.star_rating == 2 %}active{% endif %}"><svg class="genericons-neue genericons-neue-show" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#star"></use></svg></a>
        –
        {% if pic.status == "unsafe" %}
            <a href="#unsafe-modal" rel="modal:open" class="btn yellow">{% trans %}Show comment{% endtrans %}</a>
        {% endif %}
        {% if pic.status != None %}
            <a id="delete-rating-btn" class="btn yellow">{% trans %}Remove rating{% endtrans %}</a>
        {% endif %}
        <a href="#delete-modal" rel="modal:open" class="btn red">{% trans %}Delete image{% endtrans %}</a>
        <div class="navigation">
            <a class="btn grey" href="{{ pic.prev_pic_link() }}">
                <svg class="genericons-neue genericons-neue-skip-back" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#skip-back"></use></svg>
            </a>
            <a class="btn grey" href="{{ pic.next_pic_link() }}">
                <svg class="genericons-neue genericons-neue-skip-ahead" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#skip-ahead"></use></svg>
            </a>
        </div>
    </div>
    <div class="filename">
        {{ pic.filename }}
    </div>
</div>


<div id="delete-modal" class="modal">
    <div class="title">{% trans %}Really delete this image?{% endtrans %}</div>
    <button id="delete-img" class="btn red" data-target="/admin/{{ shoot.link }}/{{ pic.filename }}/delete/">{% trans %}Delete image{% endtrans %}</button>
</div>

{% if pic.status == "unsafe" %}
<div id="unsafe-modal" class="modal">
  <div class="title">{% trans %}Insecure-comment{% endtrans %}</div>
  <textarea id="unsafe-comment" readonly>{{ pic.comment }}</textarea>
</div>
{% endif %}
{% endblock %}
