{% extends "base.html" %}
{% block topright %}
<a href="/admin/prune/" class="btn yellow">Bilder säubern</a>
<a href="/admin/password/" class="btn yellow">Passwort ändern</a>
<a href="/logout/" class="btn yellow">Logout</a>
{% endblock %}
{% block topleft %}
<span class="title">Admin Übersicht</span>
{% endblock %}
{% block content %}
{% if pw %}
    <div class="btn red">
        Du verwendest das Standard Passwort. Du solltest es umgehend ändern auf <a href="/admin/password">dieser Seite</a>.
    </div>
{% endif %}

<h2><a href="/admin/create/">Neues Shoot erstellen</a></h2>

<div class="shoot-grid">
    {% for shoot in shoots %}
    <div class="shoot-grid-item admin-pic">
        <a href="/admin/{{ shoot.link }}/">
            {% if shoot.pictures|length %}
                <img src="/img/{{ shoot.pictures[0].filename }}" class="border
                {% if shoot.done %} green {% else %} red {% endif %}">
            {% else %}
                Platzhalter Bild hier :)
            {% endif %}
        </a><br>
        {{ shoot.description }} – <a href="#delete-modal-{{ shoot.link }}" rel="modal:open" class="btn red">Shoot löschen</a>
    </div>
    {% else %}
        Keine aktuellen Shootings.
    {% endfor %}
</div>


{% for shoot in shoots %}
<div id="delete-modal-{{ shoot.link }}" class="modal">
  <div class="title">Shoot "{{ shoot.description }}" und Bilder löschen?</div>
    <form method="post" action="/admin/{{ shoot.link }}/delete/">
        <input type="submit" class="btn red" value="Löschen">
    </form>
</div>
{% endfor %}
{% endblock %}
