{% extends "base.html" %}
{% block title %}{{ shoot.description }}{% endblock %}
{% block topleft %}<span class="title">{{ shoot.description }}</span>{% endblock %}
{% block topright %}
<span class="small-title">
{% if shoot.max_images != 0 %}
    {{ shoot.keep_count() }}/{{ shoot.max_images }}
{% else %}
    {{ shoot.keep_count() }}
{% endif %}
<small>Bilder gewählt</small></span>
<a id="filter-yes" class="btn green"><svg class="genericons-neue genericons-neue-show" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#show"></use></svg></a>
<a id="filter-unsafe" class="btn yellow"><svg class="genericons-neue genericons-neue-show" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#show"></use></svg></a>
<a id="filter-no" class="btn red"><svg class="genericons-neue genericons-neue-show" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#show"></use></svg></a>
<a id="filter-all" class="btn grey">Alles</a>
<a href="/admin/" class="btn yellow">Übersicht</a>
<a href="/logout/" class="btn yellow">Logout</a>
{% endblock %}
{% block content %}
<div class="top-margin">
    <div class="third-width">
        <div>
            <span class="title">Link zur Public Seite</span> <span id="copy-confirm">Kopiert!</span>
        </div>
        <input type="text" id="public_link" readonly value="{{ config.SITE_URL }}/{{ shoot.link }}/">
    </div>
    <input id="shoot_link_help" type="hidden" value="{{ shoot.link }}"><!-- required for fileupload in here -->
    <div class="third-width">
        Mehr Bilder hochladen<input id="fileupload-overview" type="file" name="files[]" data-url="/admin/upload/" multiple><br>
        <div id="progress"><div class="bar" style="width: 0%;"></div></div>
    </div>
    <div class="third-width">
        <a href="#keep-modal" rel="modal:open" class="btn green" style="margin-bottom: .2em;">Keep/Unsicher Dateinamen</a>
        <a href="#edit-shoot-modal" rel="modal:open" class="btn yellow">Shoot bearbeiten</a>
    </div>
</div>
<hr>

<div class="pic-grid">
{% for pic in pics %}
    <div class="pic-grid-item pic">
       <a href="/admin/{{ shoot.link }}/{{ pic.filename }}/">
            <img src="/img/{{ pic.filename }}" class="
            {% if pic.status %}
                border
                {% if pic.status == 'yes' %}green
                {% elif pic.status == 'unsafe' %}yellow
                {% elif pic.status == 'no' %}red
                {% endif %}
            {% endif %}">
        </a>
    </div>
{% else %}
   Keine Bilder
{% endfor %}
</div>

<div id="edit-shoot-modal" class="modal">
    <div class="title">Shoot bearbeiten</div>
    <form method="post">
         <table>
         <tr>
            <td>Beschreibung</td><td><input required type="text" name="description" value="{{ shoot.description }}"></td>
         </tr>
         <tr>
            <td>Maximale Bilder (0=Kein Limit)</td><td><input required type="number" name="limit" value="{{ shoot.max_images }}"></td>
         </tr>
         </table>
         <input type="submit">
    </form>
</div>

<div id="keep-modal" class="modal">
    <div class="title">Liste zu behaltener Bilder</div>
    <ul>
        {% for pic in pics %}
            {% if pic.status == 'yes' %}
                <li>{{ pic.filename }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="title">Liste unsicherer Bilder</div>
    <ul>
        {% for pic in pics %}
            {% if pic.status == 'unsafe' %}
                <li>
                    {{ pic.filename }}<br>
                    <textarea id="unsafe-comment" readonly>{{ pic.comment }}</textarea>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
