<!DOCTYPE html>
<html>
    <head>
        <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/jquery.modal.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <title>{% block title %}Rate Shoot{% endblock %}</title>
        <meta property="og:type" content="object" />
        <meta property="og:image" content="/static/favicon.ico" />
        <meta property="og:title" content="{% block title %}Rate Shoot{% endblock %}" />
        <meta property="og:description" content="A site to rate images from a photoshooting" />
    </head>
    <body>
        <div class="base">
            <header>
                <div class="left">{% block topleft %}Top Left{% endblock %}</div>
                <div class="right">{% block topright %}Top Right{% endblock %}</div>
            </header>
            <div class="main">
                {% block content %}Missing content{% endblock %}
            </div>
            <footer>
                V 0.3.1 –
                <a href="/help/">{% trans %}Help{% endtrans %}</a> –
                <a href="https://github.com/Niduroki/rate-shoot">Source</a>
            </footer>
        </div>
    </body>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.modal.min.js"></script>
    <script type="text/javascript" src="/static/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/static/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/static/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="/static/masonry.pkgd.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
</html>
