{% extends "base.html" %}
{% block topright %}
<a href="/logout/" class="btn yellow">{% trans %}Logout{% endtrans %}</a>
{% endblock %}
{% block topleft %}
<a href="/admin/">
    <svg class="genericons-neue genericons-neue-previous" width="32px" height="32px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#previous"></use></svg>
</a>
<span class="title">{% trans %}New shooting{% endtrans %}</span>
{% endblock %}
{% block content %}
<div class="form">
   <div class="half-width">
      <form method="post">
         <table>
         <tr>
            <td>{% trans %}Description{% endtrans %}</td><td><input required type="text" name="description"></td>
         </tr>
         <tr>
            <td>{% trans %}Maximum amount of images (0=No limit){% endtrans %}</td><td><input required type="number" name="limit" value="0"></td>
         </tr>
         <tr>
            <td>{% trans %}Also keep unedited images?{% endtrans %}</td><td><input id="unedited_checkbox" type="checkbox" name="unedited" value="on"></td>
         </tr>
         <tr id="max_unedited_count" class="hidden">
            <td>{% trans %}Maximum amount of unedited images (0=No limit){% endtrans %}</td><td><input type="number" name="limit_unedited" value="0"></td>
         </tr>
         </table>
         <input type="hidden" id="img_list" name="img_list">
         <input type="submit">
      </form>
   </div>
   <div class="half-width">
      <div class="small-bot-margin">
         {% trans %}Upload images{% endtrans %}<br>
         <input id="fileupload" type="file" name="files[]" data-url="/admin/upload/" multiple>
      </div>
      <div class="small-bot-margin">
         <label for="watermark-checkbox">{% trans %}Apply watermark{% endtrans %}</label> <input id="watermark-checkbox" type="checkbox" name="watermark" value="on" checked>
      </div>
      <div id="progress"><div class="bar" style="width: 0%;"></div></div>
   </div>
</div>
<div>
   {% trans %}Uploaded images:{% endtrans %}
   <ul id="uploaded_list"></ul>
</div>
<!-- TODO ideally we'd accept star ratings right here, but :effort: ... at least for now -->
{% endblock %}
