{% extends "base.html" %}
{% block topleft %}<span class="title hide-small">{% trans %}Choose shoot pictures{% endtrans %}</span>{% endblock %}
{% block topright %}
<a href="/help/" class="btn green">{% trans %}Help/Tutorial{% endtrans %}</a>
<a href="#admin-login" rel="modal:open" class="btn yellow">{% trans %}Admin Login{% endtrans %}</a>
{% endblock %}
{% block content %}
<h1>{% trans %}You should have received a link.{% endtrans %}</h1>
<p>{% trans %}There is nothing to see on this page.{% endtrans %}</p>

{% if pw == "1" %}
<span class="btn red">{% trans %}Wrong password!{% endtrans %}</span>
{% elif pw == "2" %}
<span class="btn green">{% trans %}Password changed, please login again!{% endtrans %}</span>
{% endif %}

<div id="admin-login" class="modal">
  <form method="post" action="/">
      <div class="title">{% trans %}Admin-Login{% endtrans %}</div>
  {% trans %}Password:{% endtrans %} <input type="password" name="password"> <input type="submit">
</form>
</div>
{% endblock %}
