{% extends "base.html" %}
{% block topright %}
<a href="/admin/prune/" class="btn yellow">{% trans %}Prune images{% endtrans %}</a>
<a href="/admin/password/" class="btn yellow">{% trans %}Change password{% endtrans %}</a>
<a href="/logout/" class="btn yellow">{% trans %}Logout{% endtrans %}</a>
{% endblock %}
{% block topleft %}
<span class="title">{% trans %}Change password{% endtrans %}</span>
<a href="/admin/">{% trans %}Back to admin page{% endtrans %}</a>
{% endblock %}
{% block content %}
<form method="post">
  {% if wrongpw %}
    {% trans %}Passwords do not match!{% endtrans %}<br>
  {% endif %}
  <table>
    <tr>
      <td>{% trans %}New password{% endtrans %}</td><td><input type="password" name="password"></td>
    </tr>
    <tr>
      <td>{% trans %}Repeat new password{% endtrans %}</td><td><input type="password" name="password2"></td>
    </tr>
  </table>
  <input type="submit" class="btn green">
</form>
{% endblock %}
