{% extends "base.html" %}
{% block topright %}
<a href="/admin/prune/" class="hide-small btn yellow">{% trans %}Prune images{% endtrans %}</a>
<a href="/admin/password/" class="hide-small btn yellow">{% trans %}Change password{% endtrans %}</a>
<a href="/logout/" class="hide-small btn yellow">{% trans %}Logout{% endtrans %}</a>
{% endblock %}
{% block topleft %}
<a href="/admin/">
    <svg class="genericons-neue genericons-neue-previous" width="32px" height="32px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#previous"></use></svg>
</a>
<span class="title">{% trans %}Change password{% endtrans %}</span>
{% endblock %}
{% block content %}
<form method="post">
  {% if wrongpw %}
    {% trans %}Passwords do not match!{% endtrans %}<br>
  {% endif %}
  <table class="margin-l">
    <tr>
      <td>{% trans %}New password{% endtrans %}</td><td><input type="password" name="password"></td>
    </tr>
    <tr>
      <td>{% trans %}Repeat new password{% endtrans %}</td><td><input type="password" name="password2"></td>
    </tr>
  </table>
  <input type="submit" class="btn green">
</form>
{% endblock %}
