{% extends "base.html" %}
{% block topright %}
<span class="small-title">
{% if shoot.max_images != 0 %}
    {{ shoot.keep_count() }}/{{ shoot.max_images }}
{% else %}
    {{ shoot.keep_count() }}
{% endif %}
<small>Bilder ausgewählt</small></span>
{% endblock %}
{% block topleft %}<span class="title">{{ shoot.description }}</span>
<a href="/{{ shoot.link }}/">Zurück zur Shoot-Übersicht</a>
{% endblock %}
{% block content %}
<img class="focused
{% if pic.status %}
    border
    {% if pic.status == 'yes' %}green
    {% elif pic.status == 'unsafe' %}yellow
    {% elif pic.status == 'no' %}red
    {% endif %}
{% endif %}
" src="/img/{{ pic.filename }}">
<div style="position: relative">
    <div class="rating-btns">
        <a id="yes-btn" class="btn green">Behalten</a>
        <a href="#unsafe-modal" rel="modal:open" class="btn yellow">Unsicher <small>(+ Kommentar)</small></a>
        <a id="no-btn" class="btn red">Nicht behalten</a>
        <a class="btn grey" href="{{ pic.next_pic_link() }}">
            {% if pic.status %}
                Nächstes Bild
            {% else %}
                Überspringen
            {% endif %}
        </a>
    </div>
</div>

<div id="unsafe-modal" class="modal">
  <div class="title">Erkläre warum "Unsicher"?</div>
  <textarea id="unsafe-comment">{% if pic.status == "unsafe" %}{{ pic.comment }}{% endif %}</textarea>
  <button class="btn yellow" id="unsafe-btn-submit">Senden</button>
</div>
{% endblock %}
