{% extends "base.html" %}
{% block topleft %}<span class="title">{{ shoot.description }}</span>
<a id="filter-yes" class="btn green">Filter</a>
<a id="filter-unsafe" class="btn yellow">Filter</a>
<a id="filter-no" class="btn red">Filter</a>
<a id="filter-all" class="btn grey">Nur unbewertet</a>
{% endblock %}
{% block topright %}
<span class="small-title">
{% if shoot.max_images != 0 %}
    {{ shoot.keep_count() }}/{{ shoot.max_images }}
{% else %}
    {{ shoot.keep_count() }}
{% endif %}
<small>Bilder ausgewählt</small></span>
{% endblock %}

{% block content %}

<div class="pic-grid">
{% for pic in pics %}
    <div class="pic-grid-item pic">
        <a href="/{{ shoot.link }}/{{ pic.filename }}/">
            <img src="/img/{{ pic.filename }}" class="
            {% if pic.status %}
                border
                {% if pic.status == 'yes' %}green
                {% elif pic.status == 'unsafe' %}yellow
                {% elif pic.status == 'no' %}red
                {% endif %}
            {% endif %}">
        </a>
    </div>
{% else %}
   Keine Bilder
{% endfor %}
</div>
{% endblock %}
