{% extends "base.html" %}
{% block title %}{{ shoot.description }}{% endblock %}
{% block topleft %}
<span class="title">{{ shoot.description }}</span>
<a href="/{{ shoot.link }}/">{% trans %}Back to shoot overview{% endtrans %}</a>
{% endblock %}
{% block topright %}
{% include "include/counter.html" %}
{% endblock %}
{% block content %}
<div class="focused relative fit-width">
<img class="{% if pic.status %}
    border
    {% if pic.status == 'yes' %}green
    {% elif pic.status == 'yes_edited' %}green
    {% elif pic.status == 'yes_unedited' %}turquoise
    {% elif pic.status == 'unsafe' %}yellow
    {% elif pic.status == 'no' %}red
    {% endif %}
{% endif %}" src="/img/{{ pic.filename }}">
{% include "include/star-overlay.html" %}
</div>
<div style="position: relative">
    <div class="rating-btns">
        {% if shoot.unedited_images %}
            <a id="yes-edited-btn" class="btn green">{% trans %}Keep edited{% endtrans %}</a>
            <a id="yes-unedited-btn" class="btn turquoise">{% trans %}Keep unedited{% endtrans %}</a>
        {% else %}
            <a id="yes-btn" class="btn green">{% trans %}Keep{% endtrans %}</a>
        {% endif %}
        <a href="#unsafe-modal" rel="modal:open" class="btn yellow">{% trans %}Insecure <small>(+ Comment)</small>{% endtrans %}</a>
        <a id="no-btn" class="btn red">{% trans %}Don't keep{% endtrans %}</a>
        <a class="btn grey" href="{{ pic.next_pic_link() }}">
            {% if pic.status %}
                {% trans %}Next image{% endtrans %}
            {% else %}
                {% trans %}Skip{% endtrans %}
            {% endif %}
        </a>
    </div>
</div>

<div id="unsafe-modal" class="modal">
  <div class="title">{% trans %}Explain why "insecure"?{% endtrans %}</div>
  <textarea id="unsafe-comment">{% if pic.status == "unsafe" %}{{ pic.comment }}{% endif %}</textarea>
  <button class="btn yellow" id="unsafe-btn-submit">{% trans %}Submit{% endtrans %}</button>
</div>
{% endblock %}
