{% extends "base.html" %}
{% block title %}{{ shoot.description }}{% endblock %}
{% block topleft %}
<a id="home-icon" href="/{{ shoot.link }}/">
    <svg class="genericons-neue genericons-neue-previous" width="32px" height="32px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#previous"></use></svg>
</a>
<span class="title hide-small">{{ shoot.description }}</span>
{% endblock %}
{% block topright %}
<div class="margin-right-s">{% include "include/counter.html" %}</div>
{% endblock %}
{% block content %}
<div class="focused relative fit-width">
<img class="{% if pic.status %}
    border
    {% if pic.status == 'yes' %}green
    {% elif pic.status == 'yes_edited' %}green
    {% elif pic.status == 'yes_unedited' %}turquoise
    {% elif pic.status == 'unsafe' %}yellow
    {% elif pic.status == 'no' %}red
    {% endif %}
{% endif %}" src="/img/{{ pic.filename }}">
{% include "include/star-overlay.html" %}
{% include "include/rating-overlay.html" %}
</div>
<div style="position: relative">
    <div class="rating-btns">
        {% if shoot.unedited_images %}
            <a id="yes-edited-btn" class="btn green">{% trans %}Keep edited{% endtrans %}</a>
            <a id="yes-unedited-btn" class="btn turquoise">{% trans %}Keep unedited{% endtrans %}</a>
        {% else %}
            <a id="yes-btn" class="btn green">{% trans %}Keep{% endtrans %}</a>
        {% endif %}
        <a href="#unsafe-modal" rel="modal:open" class="btn yellow">{% trans %}Insecure <small>(+ Comment)</small>{% endtrans %}</a>
        <a id="no-btn" class="btn red">{% trans %}Don't keep{% endtrans %}</a>
        {% if pic.status != None %}
            <a id="delete-rating-btn" class="btn grey">{% trans %}Remove rating{% endtrans %}</a>
        {% endif %}
        <div class="navigation">
            <a class="btn grey" href="{{ pic.prev_pic_link() }}">
                <svg class="genericons-neue genericons-neue-skip-back" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#skip-back"></use></svg>
            </a>
            <a class="btn grey" href="{{ pic.next_pic_link() }}">
                <svg class="genericons-neue genericons-neue-skip-ahead" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#skip-ahead"></use></svg>
            </a>
        </div>
    </div>
    <div class="filename">
        {{ pic.filename }}
        <svg id="filename-copy" class="genericons-neue genericons-neue-summary" width="16px" height="16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/genericons-neue.svg#summary"></use></svg>
        <span id="copy-confirm">{% trans%}Copied link to clipboard{% endtrans %}</span>
    </div>
</div>

<div id="unsafe-modal" class="modal">
  <div class="title">{% trans %}Explain why "insecure"?{% endtrans %}</div>
  <textarea id="unsafe-comment">{% if pic.status == "unsafe" %}{{ pic.comment }}{% endif %}</textarea>
  <button class="btn yellow" id="unsafe-btn-submit">{% trans %}Submit{% endtrans %}</button>
</div>
{% endblock %}
